[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
jupyterlab = "*"
notebook = "*"
jupytext = "*"
cython = "*"
ipython = "*"

[requires]
python_version = "3.9"
